<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<body>
    <section layout:fragment="conteudo">
        <div class="page-header">
            <div class="container-fluid">
                <h1>
                    Dashboard
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                grafico 1
            </div>
            <div class="col-md-6">
                grafico 2
            </div>
        </div>
    </section>
</body>
</html>